<h1>Pharmacies#index</h1>
<p>Find me in app/views/pharmacies/index.html.erb</p>


<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pharmacies.each do |pharmacy| %>
      <tr>
        <td><%= pharmacy.name %></td>
        <td><%= pharmacy.phone_number %></td>
        <td><%= pharmacy.address %></td>

      </tr>
    <% end %>
  </tbody>
</table>
