.homepage {
  padding-top: 20px;
}

.panel {
  padding: 100px 50px;
  background-size: cover;
  background-position: center center;
  background-size: 110%;
  background-repeat: no-repeat;
  transition: all 300ms ease-in-out;

  &:hover {
    background-size: 100%;
  }

  &.panel-patient {
    background-image: image-url('patient.jpg');
  }
  &.panel-doctor {
    background-image: image-url('doctor.jpg');
  }
}
