<br>
<br>
<div class="row">
  <div class="col s12 m6 offset-m3">
    <%= simple_form_for [@doctor, @request] do |f| %>
      <div class="row">
        <div class="col s12 m12">
          <div class="card">
            <div class="card-content">
            <p class="card-title"><strong>New request for doctor: <%= @doctor.first_name %></strong></p>
              <%= f.text_field :description, placeholder: "write your message here, be as specific as possible then press [enter]" %>
            </div>
            <div class="card-action">
              <%= f.submit "Send The Request", class: "btn btn-primary"%>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="col s12 m12 center">
    <p><strong>Your future doctor will get back to you ASAP</strong></p>
  </div>
</div>
