<div class="row jumbo-header">
  <div class="col s12 m6 center">
    <%= link_to "I NEED HELP", new_user_registration_path(role: "patient"), class: "btn red accent-1 btn-large" %>
  </div>
  <div class="col s12 m6 center">
    <%= link_to "I'M A DOCTOR", new_user_registration_path(role: "doctor"), class: "btn red accent-1 btn-large" %>
  </div>
</div>
<hr>
<div class="container text-center padded features">
  <div class="row">
    <div class="col s12 m6">
      <div class="card-panel  teal lighten-3">
        <span class="white-text"><p class="black-text">Have access to <strong>medical information</strong>, you can browse through libraries of useful knowledge from articles and previous requests</p>
        </span>
      </div>
    </div>

    <div class="col s12 m6">
      <div class="card-panel  teal lighten-3">
        <span class="white-text"><p class="black-text">Work <strong>together</strong> and contribute to a solid community foundation for the ones that need help. You can help by any means, food, clothes, ..</p>
        </span>
      </div>
    </div>
  </div>
</div>
