<h1>Doctors#index</h1>
<p>Find me in app/views/doctors/index.html.erb</p>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @doctors.each do |doctor| %>
      <tr>
        <td><%= link_to "#{doctor.first_name}", doctor_path(doctor) %></td>
        <td><%= doctor.last_name %></td>
        <td><%= doctor.address %></td>

      </tr>
    <% end %>
  </tbody>
</table>

