.chatbox {
  .message {
    font-size: 16px;

    .text-doctor {
      background-color: $secondary-color;
      width: 50%;
      color: #ffffff;
      padding-left: 10px;
      border-radius: 35px;
    }
    .text-patient {
      background-color: #bdbdbd;
      padding-left: 10px;
      border-radius: 35px;
    }
  }
}
