@import "materialize";
@import "variables";

@import "components/grid";
@import "components/chatbox";
@import "pages/home";

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.jumbo-header {
  margin-top: 100px;
}

.black-text {
  font-color: black;
}

