<footer class="page-footer grey darken-4">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">الرعاية والمساهمة</h5>
        <p class="grey-text text-lighten-4">We're the go-to platform for volunteer help</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <ul>
          <li><%= link_to 'صيدليات', doctor_dashboard_pharmacies_path, class: "white-text"  %></li>
          <li><a class="grey-text text-lighten-3" href="#!">حول الموقع</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">اتصل بنا</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">عروض عمل </a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2016 PinADoctor
      <a class="grey-text text-lighten-4 right" href="#!"></a>
    </div>
  </div>
</footer>
