
<footer class="footer navbar-fixed-bottom">


 <div class="navbar-wagon">
  <!-- Logo -->
  <a href="/" class="navbar-wagon-brand">
    <img src="images/lewagon.png" />
  </a>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

   <!--  <a href="http://localhost:3000/pharmacies/index" class="navbar-wagon-item navbar-wagon-link">Pharmacies</a> -->

    <%= link_to "Pharmacies",pharmacies_index_path, class: "navbar-wagon-item navbar-wagon-link" %>

    <!-- Text link -->
    <a href="" class="navbar-wagon-item navbar-wagon-link">About</a>


    <!-- <a href="" class="navbar-wagon-item navbar-wagon-link">Contact</a> -->

    <a href="" class="navbar-wagon-item navbar-wagon-link">Blog</a>

    <a href="" class="navbar-wagon-item navbar-wagon-link"><i class="fa fa-facebook"></i></a>
    <a href="" class="navbar-wagon-item navbar-wagon-link"><i class="fa fa-twitter"></i></a>

</div>
